@charset "utf-8";

@font-face {
    font-family: 'Fira-Sans';
    src: url('fira-sans-regular-kit/FiraSans-Regular.eot');
    src: url('fira-sans-regular-kit/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fira-sans-regular-kit/FiraSans-Regular.woff') format('woff'),
        url('fira-sans-regular-kit/FiraSans-Regular.ttf') format('truetype'),
        url('fira-sans-regular-kit/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    }

body{
	margin:0 auto;
	text-align: center;
	font-family: Fira-Sans;
}


#topNav {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	height: auto;
	text-indent: 3em;
	background-color: grey;
	border-bottom:2px solid black;
	margin: 0 auto;

}

#topNav table{
	display: inline-block;
}

#topNav a, a:visited{
	background-color:grey;
	font-weight: italic;
	color:black;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;

}

#topNav a:active{
	background-color:white;
	color:black;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
}



#header{
	text-shadow: 1px 1px white;
	font-size: 1.5em;
	margin-top: 0;
}

h1{
	font-size: 1.5em;
}

